<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modify sounds</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    div.adminSound {
      display: flex;
      margin-bottom: .5rem;
      align-items: center;
    }

    div.adminSound * {
      margin: 0 1rem 0 0;
    }

    div.adminSound input[type="text"] {
      max-width: 10%;
    }

    div.adminSound label.status {
      width: -moz-available;
    }

    div.adminSound input[type="checkbox"] {
      width: auto;
    }

    ul {
      padding: 0;
    }

  </style>
</head>

<body>
  <h1 class="title">Admin Controls🚧</h1>
  <a href="/" class="absolute top left">Home</a>
  <a href="#" class="absolute top right">Logout</a>
  <div class="container">
    <ul id="soundsList"></ul>
  </div>

  <script>
    (async () => {
      let data = await fetch("/api/sounds?onlyApproved=false")
      data = await data.json();
      for (const sound of data) {
        soundsList.appendChild(createElement(sound));
      }
    })();

    document.querySelector("a.absolute.top.right").addEventListener("click", () => {
      setCookie({
        name: "loggedIn",
        value: "",
        seconds: 1
      });
      window.location.href = "/admin";
    });

    function createElement(info) {
      const div = document.createElement("div");
      div.classList.add("adminSound");
      const statusLabel = document.createElement("label");
      statusLabel.classList.add("status");

      const labelName = document.createElement("label");
      const inputName = document.createElement("input");
      inputName.type = "text";
      labelName.innerText = "Name: ";
      labelName.setAttribute("for", info._id + "name");
      inputName.id = info._id + "name";
      inputName.value = info.name;

      const labelURL = document.createElement("label");
      const inputURL = document.createElement("input");
      inputURL.type = "text";
      labelURL.innerText = "URL: ";
      labelURL.setAttribute("for", info._id + "url");
      inputURL.id = info._id + "url";
      inputURL.value = info.url;

      const labelCheckbox = document.createElement("label");
      const checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      labelCheckbox.innerText = "Approved?";
      labelCheckbox.setAttribute("for", info._id + "check");
      checkbox.id = info._id + "check";
      checkbox.checked = info.approved;

      checkbox.addEventListener("change", updateSound);
      inputName.addEventListener("change", updateSound);
      inputURL.addEventListener("change", updateSound);

      const audioElement = document.createElement("audio");
      const sourceElement = document.createElement("source");
      audioElement.controls = true;
      audioElement.appendChild(sourceElement)
      sourceElement.src = inputURL.value;
      statusLabel.innerText = " - Could not load audio file";
      audioElement.addEventListener("canplay", () => {
        console.log(info.name, "audio loaded");
        if (statusLabel.innerText.endsWith("- Could not load audio file")) {
          statusLabel.innerText = statusLabel.innerText.split("- Could not load audio file")[0];
        }
      });

      async function updateSound() {
        statusLabel.innerText = "Updated ✔";
        let result = await fetch(`/api/sounds/${info._id}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            name: inputName.value,
            url: inputURL.value,
            approved: checkbox.checked,
          })
        });
        if (result.status == 400) {
          statusLabel.innerText = (await result.json()).message;
        } else {
          sourceElement.src = inputURL.value;
          statusLabel.innerText += " - Could not load audio file";
          audioElement.load();
        }
      }

      const deleteButton = document.createElement("button");
      deleteButton.innerText = "Delete";
      deleteButton.style.float = "right";
      deleteButton.addEventListener("click", async () => {
        if (!confirm("Are you sure you want to delete this sound?")) return;
        let result = await fetch(`/api/sounds/${info._id}`, {
          method: "DELETE",
        });
        if (result.status == 200) {
          window.location.reload(true);
          return;
        }
        statusLabel.innerText = "Error: " + (await result.json()).message;
      });

      div.appendChild(labelName);
      div.appendChild(inputName);

      div.appendChild(labelURL);
      div.appendChild(inputURL);

      div.appendChild(audioElement);

      div.appendChild(labelCheckbox);
      div.appendChild(checkbox);

      div.appendChild(statusLabel);

      div.appendChild(deleteButton);

      return div;
    }

    function setCookie({
      name,
      value,
      expireDays,
      expireHours,
      expireMinutes,
      expireSeconds
    }) {
      let expireDate = new Date();
      if (expireDays) expireDate.setDate(expireDate.getDate() + expireDays);
      if (expireHours) expireDate.setHours(expireDate.getHours() + expireHours);
      if (expireMinutes) expireDate.setMinutes(expireDate.getMinutes() + expireMinutes);
      if (expireSeconds) expireDate.setSeconds(expireDate.getSeconds() + expireSeconds);

      document.cookie = name + "=" + escape(value) +
        ";domain=" + window.location.hostname +
        ";path=/" +
        ";expires=" + expireDate.toUTCString();
    }

  </script>
</body>

</html>
