/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: rgb(89, 38, 139);
  color: white;
}

a {
  color: rgb(255, 0, 255);
}

h1 {
  color: #b8bcff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

.title {
  width: 100%;
  text-align: center;
}

input {
  border: 1px solid silver;
  background-color: rgb(150, 68, 231);
  color: white;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  padding: 1.5em 1rem;
  border-top: 1px solid lightgrey;

  background-color: rgb(150, 68, 231);
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
}

#main {
  display: grid;
  grid-template-columns: repeat(calc(100vw/10rem), 10rem);
  row-gap: 1rem;
  column-gap: 1rem;
}

#main div button {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  background-color: rebeccapurple;
  border-radius: 40%;
  color: inherit;
  outline: none;
  border: none;
}